p {
    font-family: 'Roboto';
    font-style: normal;
    color: #000000;
    font-size: 24px;
}

h1 {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    color: #303031;
    font-size: 72px;
    
}

h2 {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    color: #3F5B86;
    font-size: 48px;
}

h3 {
    font-family: 'Roboto';
    font-style: normal;
    color: #71A894;
    font-size: 28px;
}

h4 {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    color: #3F5B86;
    font-size: 36px;
}

.box {
    background-color: #fff;
    display: grid;
}

.nav {
    grid-area: nav;
    background-color: #E1EDF8;
    border-radius: 0px;
    padding: 14px;
    
}

.nav a {
    float: right;
    padding: 10px 10px;
    color: #000;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 24px;
    text-decoration: none;
}

.nav a:hover {
    color: #71A894;
}

.nav a.active {
    text-decoration: underline;
    font-weight: bolder;
}        


.content {
    grid-area: content;
    position: relative;
    padding: 40px;
    height: 325px;
    text-align: center;
    height: 100%;

}

.header1 {
    grid-area: header1;
    padding: 20px;
    margin: 50px;
}

.header2 {
    grid-area: header2;
    padding: 5px;
    text-align: center;
    padding:100px;
}

.footer {
    grid-area: footer;
    background-color: #A2A0D0;
    text-align: center;
    padding: 15px;
    height: 100%;
}

.tute {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    padding: 1rem;
    text-align: center;
    border-radius: 15px;
  }


.wrapper {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 400px, 400px;
    grid-template-areas:
        "nav  nav"
        "header1  header2"
        "content  content"
        "footer  footer";
    }

.img {
    border-radius: 55px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.click {
    border: 0px;
    background: #A2A0D0;
    color: #000;
    border-radius: 50px;
    padding: 14px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.click:hover {
    background: #E1EDF8;
}


.button {
    border: 0px;
    background: #A2A0D0;
    color: #fff;
    border-radius: 50px;
    padding: 14px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.button:hover {
    background: #E1EDF8;
    color: #000;
}

img {
    border-radius: 50px;
    width: 100%;
    object-fit: cover;
}

.searchbar{
    width: 280px;
    float: right;
    background-color: #B4DBF8;
    position: relative;
    top: 14px;
    right: 14px;
    border: 2px solid #555;
  }
  .Chatbox {
      width: 60%;
      height: 800px;
      background-color: #B4DBF8;
      margin: 0 auto;
      position:relative;
    }
    .chattext {
      width: 90%;
      padding: 12px 20px;
      box-sizing: border-box;
      position: absolute;
      right:    73px;
      bottom:   10px;
    }
    .chatbutton {
      width: 6%;
      height: 43px;
      box-sizing: border-box;
      position: absolute;
      right:    16px;
      bottom:   10px;
    }
    .chattext:focus {
      border: 3px solid #555;
    }
