
p {
    font-family: 'Roboto';
    font-style: normal;
    color: #000000;
    font-size: 24px;
}

h1 {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    color: #303031;
    font-size: 72px;
}

h2 {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    color: #3F5B86;
    font-size: 72px;
}

h3 {
    font-family: 'Roboto';
    font-style: normal;
    color: #71A894;
    font-size: 28px;
}

h4 {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    color: #3F5B86;
    font-size: 36px;
}