
p {
    font-family: 'Roboto';
    font-style: normal;
    color: #000000;
    font-size: 24px;
}

h1 {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    color: #303031;
    font-size: 72px;
}

h2 {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    color: #3F5B86;
    font-size: 72px;
}

h3 {
    font-family: 'Roboto';
    font-style: normal;
    color: #71A894;
    font-size: 28px;
}

h4 {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    color: #3F5B86;
    font-size: 36px;
}

footer {
background-color: #A2A0D0;
text-align: center;
position: fixed;
width: 80%;
margin: auto;
}

body {
  width: 80%;
  margin: auto;
  border: 10px solid #E1EDF8;
  
  }

header {
	background-color: E1EDF8;
}
div.container {
  width: 80%;
  margin: 0 auto;

}

header::after {
	content: '';
	display: table;
	clear: both;
}

.logo {
	float: left;
}

nav {
	float: right;
}

nav ul {
	margin: 0;
	padding: 0;
	list style: none;
}

nav li {
	display: inline-block;
	margin-left: 40px;
	padding-top: 25px;
}

