p {
    font-family: 'Comfortaa';
    font-style: normal;
    color: #000;
    font-size: 20px;
}

h1{
    font-family: 'Lobster';
    font-style: normal;
    color: #000;
    font-size: 50px;
}

h2{
    font-family: 'Lobster';
    font-style: normal;
    color: #FF7E67;
    font-size: 30px;
}

h3{
    font-family: 'Comfortaa';
    font-style: bold;
    color: #FF7E67;
    font-size: 25px;
}